body {
    text-align: center;
}

#o,#wind,#mac{
    color: red;
}

.container {
    width: 600px;
}

#z{
    color:blue;
}

@media all and (max-width:768px) {
    .container {
        width: 350px;
    }
}

#header{
    padding:0.5%;
}


