#xstitle{
    text-align: center;
    padding: 7%;
    width:100%;
}

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    
}

#hh5{
    color:red;
}

#htitle{
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
}



#ROM{
    display:none;
}

#back{
    width:100%;

    text-align: center;
    background-color:black;
}


#xstable1{
    display:none;
    text-align: center;
}

footer{
    background-color:black;
    
    width:100%;
    padding: 10px;
    color:darkgray;
}

#elppa{
    text-align: right;
}